/*****************************************************
 * node_modules imports
 *****************************************************/

/*****************************************************
 * project imports
 *****************************************************/
@import "variables";
@import "mixins";

/*****************************************************
 * styles
 *****************************************************/
html,
body,
app-root,
app-game {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $mainBgColor;
  color: $mainTextColor;
}

.EngineWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  #renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }

  #renderCanvas:focus {
    outline: none;
  }
}

.UiWrapper {
  position: absolute;

  * {
    z-index: 10;
  }
}

.informer,
.button--ui {
  background: black;
  color: $mainTextColor;

  padding: 1em;
}

.button--ui {
  cursor: pointer;
  border: thin solid grey;
}

.button--ui:hover {
  background: #111;
}

app-ui-infobar-top {
  display: grid;
  gap: 1em;
}
